{{>header}}

<h1>{{title}}</h1>

<div >
  <form method = 'POST' action = '/login'>  
  First Name: <input type = "text"></input>  
  Last Name: <input type = "text"></input>  
  Email: <input type = "text"></input>    
    <input type = "submit"></input>
  </form>
</div>


{{>footer}}