{{>header}}

<h1>{{title}}</h1>
   {{#if errors}}
      {{#each errors}}
         <div>
         {{this.msg}}
         </div>
      {{/each}}
   {{/if}}   
   
<div>
  <form method = 'POST' action = '/register'>  
    <label> Username </label> 
      <input type = "text" name="username"/>
    <label> Email: </label> 
     <input type = "text" name="email"/> 
    <label> password: </label> 
      <input type = "text" name="password"/>   
    <input type = "submit"></input>
  </form>
</div>


{{>footer}}